

       <!-- Data biding -->
<p>Nombre {{person.name}} </p>
<input type='text' [(ngModel)]="person.name"/>

<p> Edad {{person.age}} </p>
<input type = ' number' [(ngModel)]='person.age' />
<hr/>


            <!-- Event Binding: Eventos-->
<!-- habilitar y deshabilitar un boton  -->
<h1> Eventos </h1>
<button [disabled]= "btnDisabled" > Enviar </button>
<button (click)="toggleButton()"> Toggle Button </button>

<!-- incrementar la edad con un boton -->
<p> Edad {{person.age}} </p>
<button (click)="increaseAge()"> Age++</button>
<hr/>

<!-- Leer el scrol -->
<div class="box" (scroll)="onScroll($event)">
  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores dolorum suscipit accusantium reprehenderit quos nesciunt aut, neque esse dicta eius illo autem dignissimos saepe, tenetur eligendi officiis. Tenetur, voluptate exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati et pariatur quis delectus consequuntur odit? Sed tempora exercitationem laborum a saepe pariatur odit, veniam hic cum? Maiores, velit porro.</p>
</div>

<!-- leer los eventos de un input y modificar el objeto -->
<p>Nombre {{person.name}} </p>
<input type='text' [value]="person.name"(keyup)="changeName($event)"/>

<hr/>
                 <!-- Property Binding: para controlar el estado del boton desde TS-->
<h1> Propiedades </h1>
<button [disabled]= "btnDisabled" > Enviar </button>
<input type='text' [value]="person.name"/>
<progress max="100" [value]="person.age"> </progress>
<!-- <img width="100" [src]="img"> -->

<hr/>

                     <!-- String interpolation -->
<h1> Hola mundo </h1>
<h2> {{'hola mundo'.repeat(4)}} </h2>
<p> 3 +  3 = {{3+3}} </p>
<h3> Hola, yo soy {{ name }}, tengo {{age}} años </h3>
<!-- <img  src={{img}} alt='' width="”100”" height="”100”"> -->
<hr/>
